.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  outline: 0;
  outline-offset: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.2858;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #0d3d74;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.list__contact, .list__contact-footer {
  max-width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list__contact-footer {
  margin: 0 auto 30px;
}

.list__correspondence {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #3b70e4;
}

.link:hover, .link:focus {
  color: #b36c35;
}

.link--icon {
  padding: 5px 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link__nav {
  padding: 5px;
  color: #0328ff;
}

.link__nav--active {
  color: #b36c35;
  border-bottom: 1px solid #b36c35;
}

.link__nav--muted {
  color: rgba(3, 40, 255, 0.6);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link__nav--footer, .link__nav--muted {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 0;
  font-size: 12px;
  line-height: 1.3334;
}

.link__nav--icon {
  margin-right: 5px;
  fill: currentColor;
}

.title {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.375;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.title--slogan {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.3334;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.title__represent {
  text-align: center;
}

.title__feature {
  font-size: 14px;
  line-height: 1.4286;
}

.text {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

@media screen and (min-width: 1600 px) {
  .text {
    margin-bottom: 30px;
  }
}

.text--welcome, .text__address {
  margin-bottom: 7.5px;
  font-weight: 500;
}

.text--no-margin {
  margin-bottom: 0;
}

.text__address {
  text-align: center;
}

.text--copyright {
  font-size: 8px;
  line-height: 1.25;
  margin-bottom: 0;
}

.btn {
  padding: 2px;
  border-radius: 4px;
  color: #0d3d74;
}

.btn__menu-toggle {
  width: 32px;
  height: 32px;
  top: 8px;
  right: 15px;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
  .btn__menu-toggle {
    display: none;
  }
}

.btn__menu-toggle:hover, .btn__menu-toggle:focus {
  color: #b36c35;
}

.btn__toggle-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  fill: currentColor;
}

.top-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .top-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.mob-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 30px;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
  background-color: #fff8dc;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (orientation: landscape) {
  .mob-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.mob-nav.is-open {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

@media screen and (orientation: portrait) {
  .mob-nav__list {
    margin-bottom: 60px;
  }
}

.mob-nav__item:not(:last-child) {
  margin-bottom: 15px;
}

.mob-nav__auth-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  border: 1px solid #b36c35;
  border-radius: 4px;
}

@media screen and (orientation: portrait) {
  .mob-nav__auth-list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 60px;
  }
}

@media screen and (orientation: landscape) {
  .mob-nav__auth-list {
    max-height: 30%;
    margin: 30px auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.mob-nav__auth-item:not(:last-child) {
  margin-right: 30px;
}

.mob-nav__contact-list {
  max-width: 290px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (orientation: landscape) {
  .mob-nav__contact-list {
    margin-left: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (orientation: landscape) {
  .mob-nav__contact-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.logo__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 30px;
}

.logo__img {
  max-width: 100%;
  height: auto;
  border: 1px solid #3b70e4;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px 5px #dddddd;
          box-shadow: 0 0 10px 5px #dddddd;
}

.section {
  padding: 30px 0;
}

.section__header {
  width: 100vw;
  top: 0;
  margin: 0;
  position: fixed;
  background-color: #b0c4de;
  border-bottom: 3px solid #b36c35;
  -webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
}

.section__main {
  padding-top: 82px;
  background-color: #fff8dc;
}

.section__footer {
  background-color: #b0c4de;
  border-top: 3px solid #b36c35;
  -webkit-box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.5);
}

.section__header, .section__footer {
  padding-top: 0;
  padding-bottom: 0;
}

.container {
  max-width: 95vw;
  margin: 0 auto;
  padding: 15px;
}

@media screen and (min-width: 1600 px) {
  .container {
    max-width: 1600 px-400;
    padding: 0 15px;
  }
}

.container__header, .container__footer {
  padding: 15px;
  border-radius: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.container__main {
  margin-top: 30px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  background-color: #b0c4de;
}

.container__support {
  border: 1px solid #b36c35;
  border-radius: 5px;
}

.container__support:hover, .container__support:focus {
  background-color: #9ebce2;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), -23px 0 20px -23px rgba(0, 0, 0, 0.6), 23px 0 20px -23px rgba(0, 0, 0, 0.6), inset 0 0 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), -23px 0 20px -23px rgba(0, 0, 0, 0.6), 23px 0 20px -23px rgba(0, 0, 0, 0.6), inset 0 0 40px rgba(0, 0, 0, 0.1);
}

.logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-right: 45px;
}

.list-supports > li:not(:last-child) {
  margin-bottom: 30px;
}
/*# sourceMappingURL=main.css.map */