/* Оформление тела странички */
body {
  margin: 0px;
  background-color: cornsilk;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2vmax;
}

/* Оформление заголовка сайта */
header {
  /* display: flex;
  flex-direction: column;
  /* position: fixed; */
  margin: 0;
  padding: 0;
  min-width: 100%;
  top: 0;
  background-color: lightsteelblue;
  border-bottom: 2px solid lightslategrey;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
}
.header-logo-slogan {
  /* display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0; */
}
.logo-container {
  /* margin: 0;
  padding: 0.5em; */
}
.logo-container img {
  /* width: 12vw;
  padding: 0;
  margin: 0;
  border-radius: 0.3em;
  border: 1px solid lightskyblue;
  box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.5); */
}
.slogan-container {
  /* color: rgb(48, 144, 240);
  font-size: 3vw; */
}
.slogan-container p {
  /* margin: 0;
  padding: 0; */
}
/* навигация по сайту */
.topnav {
  /* background-color: lightslategrey; */
}
/* оформление пунктов меню */
.topnav a {
  /* float: left;
  color: lightskyblue;
  border-radius: 0.3em;
  padding-bottom: 0.15em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: 0.5em;
  margin-bottom: 0.2em;
  margin-top: 0.5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  font-size: 2vw; */
}
/* наведение на пункт меню */
.topnav a:hover {
  /* color: cornsilk;
  border-radius: 0.5em; */
}
/* нажатие на пункт меню */
.topnav a.active {
  /* color: cornsilk;
  border-bottom: 1px solid red;
  border-radius: 0.5em; */
}
.topnav-list {
  /* list-style-type: none; */
}

/* Основной блок с данными на каждой страничке */
.main-container {
  /* flex: 1;
  background: transparent;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2vmax;
  padding-top: 8em; */
}

/* Оформление тематических блоков */
.main-container-info,
.option-payment-all,
.option-payment-online,
.option-payment-terminal,
.option-payment-bank,
.services-container {
  /* background: lightsteelblue;
  padding: 1em 2em 3em 2em;
  margin: 0em 2em 2em 2em;
  border-radius: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

/* Оформление странички систем платежей */
.method-list {
  /* margin-left: 5vw; */
}
.justify-img-pay-sys {
  /* display: flex;
  justify-content: space-around;
  margin: 0.5em 2em 1em 2em; */
}
.img-pay-sys {
  /* height: 5vw;
  box-shadow: 3px 3px 6px 4px #888;
  margin: 5%;
  padding: 10%;
  border-radius: 0.2em; */
}

/* Оформление типовых элементов сайта */
img {
  /* width: 10vw;
  box-shadow: 3px 3px 6px 4px #888;
  margin: 0.8em 2em 2em 0.8em;
  border-radius: 0.2em;
  border: 1px solid lightskyblue; */
}
p {
  /* text-align: justify;
  margin: 0.5vw;
  padding: 1vw 0 1vw 0;
  line-height: 1.2; */
}
table {
  /* border: 1px solid cornsilk;
  border-radius: 0.5em;
  border-collapse: separate;
  margin: 0;
  padding: 0;
  table-layout: auto;
  width: 100%; */
}
tr {
  /* padding: 0.35em;
  white-space: inherit; */
}
td {
  /* padding: 0.625em; */
}

.section-info-option {
  /* font-size: 2vmax; */
  /* line-height: 1.5; */
}
ul.connection-options-list {
  /* font-size: 2vmax;
  padding: 0;
  list-style-type: none;
  margin-left: -6vmax; */
}

.tarif {
  /* border: 1px solid #888;
  margin: 0;
  padding: 0;
  table-layout: auto;
  width: 100%; */
}

/* Оформление картинок месенджеров */
.img-messenger {
  /* width: 3vw;
  border-radius: 1vw;
  margin: 0;
  padding: 0; */
}
/* Оформление увеличения логотипа */
/* контейнер с картинкой и текстом */
.container-border {
  /* overflow: auto;
  border: 1px solid cornsilk;
  padding: 1em 1em 0em 1em;
  border-radius: 1em; */
}
/* Исходное изображение */
.container-border img {
  /* width: 8vw;
  padding: 0.5em;
  border-radius: 0.2em;
  border: 1px solid lightskyblue; */
}
/* Изображение при наведении курсора */
.container-border img:hover {
  /* transition: 0.3s;
  transform: scale(2);
  padding: 0;
  margin: 2em 3em 3em 2em;
  border-radius: 0.3em; */
}

/* Оформление раскрывающихся текстов */
/* Вариант для загрузки во фрейм договора в формате .pdf */
/* iframe {
  width: 100%;
  height: 500px;
  border-radius: 0.5em;
  box-shadow: 3px 3px 6px 4px #888;
} */
.contract-header {
  /* text-align: center;
  font-size: 2.3vmax; */
}
.contract-container-list {
  /* list-style-position: inside; */
}
.contract-ul {
  /* list-style-type: '– '; */
}
/* скрываем чекбоксы и блоки с содержанием */
.contract-hide,
.services-hide {
  /* display: none; */
}
.contract-hide + label ~ section,
.services-hide + label ~ section {
  /* display: none; */
}
/* оформляем текст label */
.contract-hide + label,
.services-hide + label {
  /* border-bottom: 1px dotted blue;
  padding: 0;
  margin-left: 0.5em;
  color: black;
  cursor: pointer;
  display: flex;
  justify-content: space-around; */
}
/* вид текста label при активном переключателе */
.contract-hide:checked + label,
.services-hide:checked + label {
  /* color: darkblue;
  border-bottom: 1px solid red;
  border-radius: 1em;
  margin-bottom: 1em; */
}
/* когда чекбокс активен показываем блоки с содержанием  */
.contract-hide:checked + label + section,
.services-hide:checked + label + section {
  /* display: block;
  background: cornsilk;
  -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
  -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
  box-shadow: inset 3px 3px 10px #7d8e8f;
  padding: 2vmax;
  border-radius: 0.35em; */
}
.contract-container h4:hover {
  /* color: darkblue; */
}
/* Оформление вложенных нумерованных списков */
ol {
  /* list-style: none;
  font-size: 1.3vmax;
  padding: 0; */
  /* margin: 2vmax 0 0 0; */
}
li {
  /* margin: 0;
  padding: 1vmax 0 1vmax 5vmax;
  position: relative;
  line-height: 1.5; */
}
li::before {
  /* display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 3.6vmax;
  font-size: 1.2vmax; */
}

/* 1-й уровень */
ol {
  counter-reset: num;
}
ol > li {
  counter-increment: num;
}
ol > li::before {
  content: counter(num) '.';
}

/* 2-й уровень */
ol ol {
  counter-reset: num2;
}
ol ol > li {
  counter-increment: num2;
}
ol ol > li::before {
  content: counter(num) '.' counter(num2) '.';
}

/* 3-й уровень */
ol ol ol {
  counter-reset: num3;
}
ol ol ol > li {
  counter-increment: num3;
}
ol ol ol > li::before {
  content: counter(num) '.' counter(num2) '.' counter(num3) '.';
}

/* Оформление странички контактов */
.phone-list {
  /* margin-left: 3%;
  list-style-type: none; */
}
.link-type {
  /* text-decoration: none;
  color: black;
  border-bottom: 1px dotted blue; */
}
.link-type:hover {
  /* color: darkblue; */
}
.work-time {
  /* border-bottom: 1px dotted #888; */
}

/* Оформление подвала */
footer {
  /* font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: lightsteelblue;
  width: 100%;
  border-top: 3px solid lightslategrey;
  box-shadow: 0 0 3vw rgba(0, 0, 0, 0.5); */
}
footer p {
  /* color: #888;
  font-size: 1vmax;
  text-align: center;
  padding: 0em 2em 2em 2em;
}

.bookmark {
  /* padding-top: 12vmax;
  border: 1px solid transparent; */
}
