/* Оформление тела сайта */
body {
  margin: 0px;
  background-color: #f2f2f2;
}

/* Оформление заголовка сайта */
.header-site {
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  margin: 0 1em;
  width: 95%;
  top: 0;
  background-color: lightsteelblue;
  /* background-image: url(../img/bluecable.jpg);
  background-position: center;
  background-size: 100%; */
  border-left: 1px solid lightslategrey;
  border-right: 1px solid lightslategrey;
  border-bottom: 3px solid lightslategrey;
  border-radius: 1em;
  box-shadow: 0 0 3vw rgba(0, 0, 0, 0.5);
}
.header-logo-slogan {
  display: flex;
  flex-direction: row;
  margin-left: 0.3em;
  margin-bottom: 1em;
}
.logo-container img {
  width: 10vw;
  margin: 0.8em 0 1.5em 1.2em;
  border-radius: 0.2em;
  border: 1px solid lightskyblue;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
}
.slogan-container p {
  color: rgb(48, 144, 240);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3vw;
  padding: 1.2em 3em;
  /* border-radius: 0.2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}
/* навигация по сайту */
.topnav {
  margin-left: 1em;
  position: fixed;
}
/* оформление пунктов меню */
.topnav a {
  float: left;
  display: block;
  width: 10vw;
  color: rgb(48, 144, 240);
  border-radius: 0.5em;
  text-align: center;
  padding: 0.3vw;
  margin: 1vw;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 2vw;
}
/* наведение на пункт меню */
.topnav a:hover {
  color: lightyellow;
  border-radius: 0.5em;
}
/* нажатие на пункт меню */
.topnav a.active {
  color: darkblue;
  border-bottom: 2px solid red;
  border-radius: 0.5em;
}

/* Основной блок с данными на каждой страничке */
.main-container {
  color: black;
  background: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vmax;
  padding-top: 10em;
}

/* Оформление тематических блоков */
.main-container-info,
.variant-payment-all,
.variant-payment-online,
.variant-payment-terminal,
.variant-payment-bank {
  background: lightsteelblue;
  padding: 1em 2em 3em 2em;
  margin: 0em 2em 3em 2em;
  border-radius: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Оформление странички систем платежей */
.method-list {
  margin-left: 5vw;
}
.justify-img-pay-sys {
  display: flex;
  justify-content: space-around;
  margin: 0.5em 2em 1em 2em;
}
.img-pay-sys {
  height: 5vw;
  box-shadow: 3px 3px 6px 4px #888;
  margin: 5%;
  padding: 10%;
  border-radius: 0.2em;
}

/* Оформление типовых элементов сайта */
img {
  width: 10vw;
  box-shadow: 3px 3px 6px 4px #888;
  margin: 0.8em 2em 2em 0.8em;
  border-radius: 0.2em;
  border: 1px solid lightskyblue;
}
p {
  text-align: justify;
  margin: 2vw;
}
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: auto;
  width: 100%;
}
tr {
  border: 1px solid #ddd;
  padding: 0.35em;
  white-space: inherit;
}
td {
  padding: 0.625em;
}

/* Оформление увеличения логотипа */
/* контейнер с картинкой и текстом */
.container-img {
  overflow: auto;
  border: 1px solid #ddd;
  padding: 1em 1em 0em 1em;
  border-radius: 1em;
}
/* Исходное изображение */
.container-img img {
  width: 8vw;
  padding: 0.5em;
  border-radius: 0.2em;
  border: 1px solid lightskyblue;
}
/* Изображение при наведении курсора */
.container-img img:hover {
  transition: 0.3s;
  transform: scale(2);
  padding: 0;
  margin: 2em 3em 3em 2em;
  border-radius: 0.3em;
}

/* Оформление странички с текстом договора */
/* Вариант для загрузки во фрейм договора в формате .pdf */
/* iframe {
  width: 100%;
  height: 500px;
  border-radius: 0.5em;
  box-shadow: 3px 3px 6px 4px #888;
} */
.contract-h2 {
  text-align: center;
}
.contract-ul {
  list-style-type: '– ';
}
/* скрываем чекбоксы и блоки с содержанием */
.contract-hide {
  display: none;
}
.contract-hide + label ~ div {
  display: none;
}
/* оформляем текст label */
.contract-hide + label {
  border-bottom: 1px dotted blue;
  padding: 0;
  color: black;
  cursor: pointer;
  display: inline-block;
}
/* вид текста label при активном переключателе */
.contract-hide:checked + label {
  color: red;
  border-bottom: 0;
}
/* когда чекбокс активен показываем блоки с содержанием  */
.contract-hide:checked + label + div {
  display: block;
  background: cornsilk;
  -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
  -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
  box-shadow: inset 3px 3px 10px #7d8e8f;
  padding: 10px;
  border-radius: 0.35em;
}
.contract-container {
  border: 5px;
  border-color: black;
}

/* Оформление странички контактов */
.phone-list {
  list-style-type: none;
  margin-left: 10vw;
}
.link-type {
  text-decoration: none;
  color: black;
  border-bottom: 1px dashed blue;
}
.work-time {
  border-bottom: 1px dashed #888;
}

/* Оформление подвала */
.footer-container {
  background-color: lightsteelblue;
  width: 90%;
  margin-left: 1em;
  padding: 1em;
  font-size: 2vw;
  color: rgb(48, 144, 240);
  border-left: 1px solid lightslategrey;
  border-right: 1px solid lightslategrey;
  border-top: 3px solid lightslategrey;
  border-radius: 1em;
  box-shadow: 0 0 3vw rgba(0, 0, 0, 0.5);
}
