// основной контейнер для разделов сайта
.container {
  max-width: 95vw;
  margin: 0 auto;
  padding: $min-padding;

  @media screen and (min-width: $size-mob) {
    width: 100%;
  }

  @media screen and (min-width: $size-desk) {
    max-width: $size-desk - 400;
  }

  // ограничиваем высоту хедера
  &__header {
    max-height: $header-height;

    @media screen and (min-width: $size-tab) {
      max-height: none;
    }
  }

  &__header,
  &__footer {
    padding: $min-padding;
    border-radius: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__main {
    box-shadow: $light-shadow;
    border-radius: $min-padding;
    background-color: $background-block-color;
  }

  &__support {
    @include bordered($accent-color);

    &:hover,
    &:focus {
      background-color: $background-accent-color;
      box-shadow: $paper-shadow;
    }
  }

  &__logo-img {
    margin-bottom: $gap / 2;
    padding-left: $gap / 2;
    display: flex;
    align-items: center;
  }

  &__contract,
  &__features {
    width: 100%;
    padding: 0;

    &--hidden {
      display: none;
      padding: $min-padding;
      margin-bottom: $gap;
      border-radius: 5px;
      background-color: $background-accent-color;
      box-shadow: $paper-shadow;
    }

    .checkbox__content-hide:checked ~ &--hidden {
      display: block;
      color: $accent-color;
    }
  }

  &__tabs-body,
  &__tab-content,
  &__tabs {
    padding-left: 0;
    padding-right: 0;
  }

  &__tabs-body {
    padding-bottom: 0;
  }

  &__tab-content {
    padding-top: 0;
  }

  &__tab-content--hidden {
    display: none;
  }

  &__tabs {
    padding-top: 0;
    padding-bottom: 0;
  }
}
