.modal {
  &__login {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 270px;

    transform: translate3d(-50%, -50%, 0);
    padding: $min-padding;
    @include bordered($accent-color);
    background-color: $background-primary-color;
  }
}

// скрыть модальное окно
.is-hidden {
  opacity: 0;
  pointer-events: none;
}

// скрыть модальное окно
.backdrop.is-hidden .modal {
  transform: translate3d(-50%, -50%, 0) scale(1.2) rotate3d(0, -20, 0, 90deg);
}
