// основная секция разделов сайта
.section {
  padding: $gap 0;

  &__header {
    width: 100vw;
    top: 0;
    margin: 0;
    position: fixed;
    z-index: 2;
    border-bottom: 3px solid $accent-color;
    box-shadow: $bottom-shadow;
  }

  &__main {
    padding-top: $header-height + $gap / 2;
    background-color: $background-primary-color;

    @media screen and (min-width: $size-mob) {
      padding-top: $header-height + $gap;
    }

    @media screen and (min-width: $size-tab) {
      padding-top: $header-max-height + $gap;
    }
  }

  &__footer {
    border-top: 3px solid $accent-color;
    box-shadow: $top-shadow;
  }

  &__header,
  &__footer {
    background-color: $backgouund-secondary-color;
  }

  &__header,
  &__footer,
  &__features {
    padding-top: 0;
    padding-bottom: 0;
  }
}
