// основная секция разделов сайта
.section {
  &__header {
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding-top: 15px;
    position: fixed;
    z-index: 5;
    background-color: $backgouund-secondary-color;
    box-shadow: 0px 8px 24px #18274b14, 0px 6px 12px #18274b1f;
    transition: top 0.5s;

    &--hide {
      top: -100px;
    }
  }

  &__footer {
    color: $reverse-color;
  }

  &__footer,
  &__features {
    padding-top: 0;
    padding-bottom: 0;
  }
}
