// основная секция разделов сайта
.section {
  padding: $gap 0;

  &__header {
    width: 100vw;
    top: 0;
    margin: 0;
    position: fixed;
    background-color: $background-block-color;
    border-bottom: 3px solid $accent-color;
    box-shadow: $bottom-shadow;
  }

  &__main {
    padding-top: 82px;
    background-color: $background-primary-color;
  }

  &__footer {
    background-color: $background-block-color;
    border-top: 3px solid $accent-color;
    box-shadow: $top-shadow;
  }

  &__header,
  &__footer {
    padding-top: 0;
    padding-bottom: 0;
  }
}
