// ссылка-якорь с отступом
.bookmark {
  &::before {
    content: "";
    width: 1px;
    height: $header-height + $gap / 2;
    margin-top: -$header-height - $gap / 2;
    display: block;

    @media screen and (min-width: $size-tab) {
      height: $header-max-height + $gap / 2;
      margin-top: -$header-max-height - $gap / 2;
    }
  }
}
