.btn {
  padding: 5px;
  border-radius: 4px;
  color: $text-color;
  cursor: pointer;
  background-color: transparent;
  color: inherit;
  border: 1px solid $accent-color;
  box-shadow: $light-shadow;
  transition: color $transition-duration $timing-function,
    background-color $transition-duration $timing-function,
    box-shadow $transition-duration $timing-function,
    outline-color $transition-duration $timing-function;

  &.active,
  &:focus,
  &:hover {
    cursor: pointer;
    color: $background-accent-color;
    background-color: $accent-color;
    box-shadow: $lights-shadow;
    outline-color: $accent-color;
  }

  // переключатель мобильного меню
  &__menu-toggle {
    @include circle();
    top: 8px;
    right: 15px;
    position: absolute;
    border: none;
    box-shadow: none;

    @media screen and (min-width: $size-tab) {
      display: none;
    }

    // кнопка закрыть в модальном окне
    &--modal {
      width: 25px;
      height: 25px;
      position: absolute;
      top: 5px;
      right: 5px;
      border-radius: 50%;
      outline: none;
    }
  }

  // иконка для кнопки
  &__toggle-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    fill: currentColor;
  }

  // кнопки переключения вкладок
  &__tab-link {
    width: 100%;
    padding: 10px 5px;
    border-radius: 10px;
  }

  &__sign-in {
    padding: 5px 10px;
    margin: $gap auto 0;
  }
}
