.btn {
  padding: $min-padding / 2 $min-padding;
  border-radius: 4px;
  color: $link-color;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid $accent-color;
  box-shadow: $light-shadow;
  transition: color $transition-duration $timing-function,
    background-color $transition-duration $timing-function,
    box-shadow $transition-duration $timing-function,
    outline-color $transition-duration $timing-function,
    transform $transition-duration $timing-function;

  &.active,
  &:focus,
  &:hover {
    cursor: pointer;
    color: $background-accent-color;
    background-color: $accent-color;
    box-shadow: $lights-shadow;
    outline-color: $accent-color;
    transform: scale(1.05);
  }

  // кнопка заказа подключения
  &__order {
    position: relative;
    z-index: 1;
    padding: $min-padding;
    width: 100%;
    max-width: 270px;
    text-align: center;
    @include font-sizes($fs-offer-min, $lh-offer-min);

    @media screen and (min-width: ($size-min + 61)) {
      @include font-sizes($fs-offer-mob, $lh-offer-mob);
    }

    color: $reverse-color;
    background-color: $accent-color;
  }

  // переключатель мобильного меню
  &__menu-toggle {
    right: 5%;
  }

  // кнопка закрыть в модальном окне
  &--modal {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    outline: none;
  }

  // переключатель меню с номерами телефонов
  &__calls-toggle {
    right: 15%;
  }

  // переключатель входа в личный кабинет
  &__personal_account-toggle {
    right: 25%;
  }

  &__menu-toggle,
  &__calls-toggle,
  &__personal_account-toggle {
    @include circle();
    top: 22px;
    position: absolute;
    border: none;
    box-shadow: none;

    @media screen and (min-width: $size-tab) {
      display: none;
    }
  }

  // иконка для кнопки
  &__toggle-icon,
  &__up-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    fill: currentColor;
  }

  &__up-icon {
    @include circle(25px);
    padding: 0;
    border: 1px solid transparent;

    @media screen and (min-width: $size-mob) {
      @include circle(30px);
    }

    @media screen and (min-width: $size-tab) {
      @include circle(32px);
    }
  }

  // кнопки переключения вкладок
  &__tab-link {
    width: 100%;
    padding: 10px 5px;
    border-radius: 10px;
  }

  &__sign-in {
    padding: 5px 10px;
    margin: $gap auto 0;
  }
}