.btn {
  padding: 2px;
  border-radius: 4px;
  color: $text-color;

  &__menu-toggle {
    width: 32px;
    height: 32px;
    top: 8px;
    right: 15px;
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    border: none;
    @media screen and (min-width: $size-tab) {
      display: none;
    }
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  &__toggle-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    fill: currentColor;
  }

  &__tab-link {
    width: 100%;
    padding: 10px 5px;
    color: inherit;
    border: 1px solid $accent-color;
    background-color: transparent;
    border-radius: 10px;

    &.active,
    &:focus,
    &:hover {
      color: $background-accent-color;
      background-color: $accent-color;
      box-shadow: $lights-shadow;
    }
  }
}
