.logo {
  &__link {
    display: inline-flex;
    margin-right: $gap;
    transition: transform $transition-duration $timing-function;

    &:hover,
    &:focus {
      transform: scale3d(1.05, 1.05, 1);
    }
  }

  &__img {
    max-width: 100%;
    height: auto;
    @include bordered($accent-color);
    box-shadow: $lights-shadow;
  }
}
