.logo {
  &__link {
    display: inline-flex;
    transition: transform $transition-duration $timing-function,
      box-shadow $transition-duration $timing-function;

    &:hover,
    &:focus {
      transform: scale3d(1.05, 1.05, 1);
      box-shadow: $lights-shadow;
    }
  }

  &__img {
    max-width: 100%;
    height: auto;
  }
}
