.logo {
  &__link {
    display: inline-flex;
    margin-right: $gap;
  }

  &__img {
    max-width: 100%;
    height: auto;
    @include bordered($accent-color);
    box-shadow: $lights-shadow;
  }
}
