.mech {
  position: absolute;
  top: 35%;
  right: 1.5%;
  z-index: -1;
  width: 27%;
  @media screen and (min-width: ($size-min + 20)) {
    top: 40%;
  }

  &--mini {
    width: 7%;
    top: -6%;
    right: 25%;

    &-footer {
      width: 10%;
      top: 90%;
      right: 10%;
    }
  }

  &--small {
    width: 15%;

    &-top1 {
      top: -2%;
      right: -8%;
    }

    &-top2 {
      top: 10%;
      right: 10%;
    }

    &-top3 {
      top: 75%;
      right: 42%;
      @media screen and (min-width: ($size-min + 20)) {
        top: 77%;
      }
    }

    &-top4 {
      top: 105%;
      right: 0;
      // @media screen and (min-width: ($size-min + 20)) {
      //   top: 51%;
      // }
    }

    &-footer {
      top: -30%;
      right: 30%;
    }
  }
}
