.mech {
  position: absolute;
  top: 33%;
  right: 0;
  z-index: -1;
  width: 30%;

  @media screen and (min-width: ($size-min + 20)) {
    top: 38%;
  }

  &--mini {
    width: 10%;
    top: -5%;
    right: 0;

    &-footer {
      width: 10%;
      top: 90%;
      right: 10%;
    }
  }

  &--small {
    width: 15%;

    &-top1 {
      top: 8%;
      right: 5%;
    }

    &-top2 {
      top: 75%;
      right: 14%;
    }

    &-footer {
      top: -32%;
      right: 24%;
    }
  }
}