.mob-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: $gap;
  transform: translate3d(100%, 0, 0);
  background-color: $background-primary-color;
  transition: transform $transition-duration $timing-function;
  @media screen and (orientation: landscape) {
    display: flex;
    flex-wrap: wrap;
  }

  // когда открыт
  &.is-open {
    transform: translate3d(0, 0, 0);
  }

  // список ссылок навигации моб.меню
  &__list {
    @media screen and (orientation: portrait) {
      margin-bottom: 2 * $gap;
    }
  }

  // задаем интервал между ссылками
  &__item {
    &:not(:last-child) {
      margin-bottom: $gap / 2;
    }
  }

  // список авторизации
  &__auth-list {
    display: flex;
    padding: $gap;
    border: 1px solid $accent-color;
    border-radius: 4px;

    @media screen and (orientation: portrait) {
      justify-content: space-around;
      margin-bottom: 2 * $gap;
    }

    @media screen and (orientation: landscape) {
      max-height: 30%;
      margin: $gap auto;
      align-items: center;
    }
  }

  &__auth-item {
    &:not(:last-child) {
      margin-right: $gap;
    }
  }

  &__contact-list {
    display: flex;
    justify-content: center;
    @media screen and (orientation: landscape) {
      margin-left: 50%;
      align-items: flex-end;
    }
  }
  &__contact-item {
    @media screen and (orientation: landscape) {
      flex-direction: column;
      align-items: center;
    }
    &:not(:last-child) {
      margin-right: $gap;
    }
  }
}
