.thumb-img {
  max-width: 100%;
  height: auto;
  display: block;
  font-size: 0;
  line-height: 0;
  border: none;

  &--shadow {
    width: 100%;
  }

  &--logo {
    margin-right: $gap;
    transform: scale(1);
    transition: transform $transition-duration $timing-function,
      box-shadow $transition-duration $timing-function;
    border: 1px solid $accent-color;

    @media screen and (min-width: $size-mob) {
      width: 110px;
    }

    @media screen and (min-width: $size-tab) {
      width: 130px;
      margin-right: $gap * 2;
    }

    @media screen and (min-width: $size-desk) {
      width: 180px;
    }

    &:focus,
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  &--shadow,
  &--logo {
    box-shadow: $light-shadow;
    border-radius: 5px;
  }

  &--logo:focus,
  &--logo:hover,
  .link:focus > &--shadow,
  .link:hover > &--shadow {
    box-shadow: $dark-shadow;
  }
}
