body {
  margin: 0px;
  font-family: $font-family-site;
  @include font-set(14, 18, map-get($font-weights, 'regular'), 0.03);
  color: $text-color;
}

.list {
  @include reset-list;

  &__contact,
  &__contact-footer {
    max-width: $size-min - 2 * $gap;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__contact-footer {
    margin: 0 auto $gap;
  }

  &__correspondence {
    display: flex;
    justify-content: space-around;
  }
}

.link {
  @include reset-link;
  &:hover,
  &:focus {
    color: $accent-color;
  }

  &--icon {
    padding: 5px 0;
    display: inline-flex;
    align-items: center;
  }

  &__nav {
    padding: 5px;
    color: $link-nav-color;
    &--active {
      color: $accent-color;
      border-bottom: 1px solid $accent-color;
    }

    &--muted {
      color: $link-nav-color-muted;
      justify-content: center;
    }

    &--footer,
    &--muted {
      display: flex;
      padding: 12px 0;
      @include font-sizes(12, 16);
    }

    &--icon {
      margin-right: $gap / 6;
      fill: currentColor;
    }
  }
}

.title {
  @include reset-title;
  margin-bottom: $gap;
  @include font-set(16, 22, map-get($font-weights, 'bold'), 0.03);

  &--slogan {
    margin-bottom: 0;
    @include font-sizes-weight(18, 24, map-get($font-weights, 'black'));
    text-transform: uppercase;
    text-align: center;
  }

  &__represent {
    text-align: center;
  }

  &__feature {
    @include font-sizes(14, 20);
  }
}

.text {
  @include reset-text;
  margin-bottom: $gap / 2;
  @media screen and (min-width: $size-desk) {
    margin-bottom: $gap;
  }
  &--welcome,
  &__address {
    margin-bottom: $gap / 4;
    font-weight: map-get($font-weights, 'medium');
  }

  &--no-margin {
    margin-bottom: 0;
  }

  &__address {
    text-align: center;
  }

  &--copyright {
    @include font-sizes(8, 10);
    margin-bottom: 0;
  }
}
