body {
  margin: 0px;
  font-family: $font-family-site;
  @include font-set($fs-baze, $lh-baze, map-get($fw, "regular"), 0.03);
  color: $text-color;

  @media screen and (min-width: $size-mob) {
    @include font-sizes($fs-mob, $lh-mob);
  }

  @media screen and (min-width: $size-tab) {
    @include font-sizes($fs-tab, $lh-tab);
  }

  @media screen and (min-width: $size-desk) {
    @include font-sizes($fs-desk, $lh-desk);
  }
}

.list {
  @include reset-list;
}

.link {
  @include reset-link;
}

.title {
  @include reset-title;
}

.text {
  @include reset-text;
}
