.checkbox {
  &__content-hide {
    &:checked ~ .checkbox__label {
      border-bottom: 1px dashed $accent-color;
      color: $accent-color;
    }
  }
  &__label {
    display: block;
    padding: 5px 0 5px $gap;
    border-bottom: 1px dashed $accent-color;

    &:focus,
    &:hover {
      cursor: pointer;
    }

    &--bottom {
      margin-top: $gap / 2;
      text-align: right;
      border-top: 1px dashed $accent-color;
    }
  }
}
