.link {
  display: inline-block;
  font-size: inherit;
  transition: transform $transition-duration $timing-function, color $transition-duration $timing-function;

  &--underline {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      bottom: -2px;
      right: 0;
      width: 0;
      height: 1px;
      background: $link-color;
      z-index: 0;
      transition: width $transition-duration $timing-function;
    }

    &:hover,
    &:focus {
      &::after {
        width: 100%;
        right: auto;
        left: 0;
      }
    }
  }

  &:hover,
  &:focus {
    color: $accent-color;
    transform: scale(1.05);
  }

  &--bground {
    transition: color $transition-duration $timing-function,
      background-color $transition-duration $timing-function;
    &:focus,
    &:hover {
      border-radius: 5px;
      color: $background-accent-color;
      background-color: $accent-color;
    } 
  }

  &--icon {
    padding: 5px 0;
    display: inline-flex;
    align-items: center;
  }

  &__context {
    text-decoration: underline dotted;
  }

  &__nav {
    padding: 5px;
    color: $link-nav-color;
    &--active {
      color: $accent-color;
      border-bottom: 1px solid $accent-color;
    }

    &--muted {
      color: $link-nav-color-muted;
      justify-content: center;
    }

    &--footer,
    &--muted {
      display: flex;
      align-items: center;
      padding: 12px 0;
    }

    &--icon {
      margin-right: $gap / 6;
      fill: currentColor;

      @media screen and (min-width: $size-mob) {
        width: $fs-mob + 1px;
        height: $fs-mob + 2px;        
      }

      @media screen and (min-width: $size-tab) {
        width: $fs-tab + 1px;
        height: $fs-tab + 2px;        
      }

      @media screen and (min-width: $size-desk) {
        // width: $fs-desk + 0px;
        // height: $fs-desk + 2px;        
      }
    }
  }

  &--up {
    display: none;
    position: fixed;
    right: $gap;
    bottom: 30%;
    z-index: 1;
  }
}
