// списки
.list {
  // контакты
  &__contact,
  &__contact-footer {
    margin: 0 auto;
    max-width: $size-min - 2 * $gap;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__contact-footer {
    margin-bottom: $gap / 4;
  }

  &__correspondence {
    display: flex;
    justify-content: space-around;
  }

  // спискок платежных систем
  &__pay-list,
  &__terminal-list {
    @include flex-elements-center();
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  &__pay-item,
  &__terminal-item {
    flex-basis: calc((100% - 2 * #{$gap}) / 2);
    margin-bottom: $gap;

    @media screen and (min-width: $size-mob) {
      flex-basis: calc((70% - 2 * #{$gap}) / 2);
    }

    @media screen and (min-width: $size-tab) {
      flex-basis: calc((70% - 2 * #{$gap}) / 3);
    }
  }

  // элементы вариантов оплаты
  &__methods-item {
    &:not(:last-child) {
      margin-bottom: $gap;
    }
  }

  // варианты оплаты
  &__method-menu,
  &__marker {
    margin-bottom: $gap;
  }

  &__marker,
  &__method-menu {
    padding-left: $min-padding;
    list-style: "\2713";
  }

  &__marker-item {
    padding-left: $min-padding;
    &::marker {
      font-size: 1.5em;
      color: $accent-color;
    }
  }

  &__tabs {
    display: flex;
  }

  &__tab-item {
    display: flex;
    flex: 1 1 50%;

    &:not(:last-child) {
      margin-right: $gap / 2;
    }
  }
}

// список телефонов поддержки
.list-supports > li {
  margin-bottom: $gap;
}
