.text {
  margin-bottom: $gap / 2;

  &--last-paragraph {
    margin-bottom: 0;
  }

  &--welcome,
  &__address {
    margin-bottom: $gap / 4;
    font-weight: map-get($fw, "medium");
  }

  &--no-margin {
    margin-bottom: 0;
  }

  &__address {
    text-align: center;
  }

  &--copyright {
    @include font-sizes($fs-small, $lh-small);
    margin-bottom: 0;

    @media screen and (min-width: $size-mob) {
      @include font-sizes($fs-small-mob, $lh-small-mob);
    }

    @media screen and (min-width: $size-tab) {
      @include font-sizes($fs-small-tab, $lh-small-tab);
    }

    @media screen and (min-width: $size-desk) {
      @include font-sizes($fs-small-desk, $lh-small-desk);
    }
  }
}
