.title {
  margin-bottom: $gap;

  &--center {
    text-align: center;
  }

  &--slogan {
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
    color: $accent-color;
  }

  &__represent {
    text-align: center;
  }

  &__feature,
  &__method,
  &__contract {
    margin-bottom: $gap / 2;
  }
}

.title,
.title--slogan {
  @include font-sizes-weight($fs-title, $lh-title, map-get($fw, "black"));

  @media screen and (min-width: $size-mob) {
    @include font-sizes($fs-title-mob, $lh-title-mob);
  }

  @media screen and (min-width: $size-tab) {
    @include font-sizes($fs-title-tab, $lh-title-tab);
  }

  @media screen and (min-width: $size-desk) {
    @include font-sizes($fs-title-desk, $lh-title-desk);
  }
}

.title__feature,
.title__contract,
.contract-list__item--first-level::before {
  @include font-set($fs-feature, $lh-feature, map-get($fw, "bold"), $ls);

  @media screen and (min-width: $size-mob) {
    @include font-sizes($fs-feature-mob, $lh-feature-mob);
  }

  @media screen and (min-width: $size-tab) {
    @include font-sizes($fs-feature-tab, $lh-feature-tab);
  }

  @media screen and (min-width: $size-desk) {
    @include font-sizes($fs-feature-desk, $lh-feature-desk);
  }
}
