// цветовая палитра
$text-color: #000;
$text-color-muted: #BBBBBB;
$reverse-color: #fff;
$accent-color: #1fa3ed;
$link-color: #1fa3ed;
$link-nav-color: #1fa3ed;
$link-nav-color-muted: #9dd4f1;

$background-primary-color: #fff;
$backgouund-secondary-color: #113bb4;
$background-block-color: #fff;
// $background-block-color: #b0c4de;
$background-block-color-dark: #8b9cb1;
$background-form: #FAFBFF;
$background-accent-color: #fff;
$background-backdrop: #8b9cb180;
$background-border-active: 0px 0px 2px 1px $accent-color;

// цветовая палитра логотипа
$logo-1: #10a7e3;
$logo-2: #e0f1f6;
$logo-3: #97d8f0;
$logo-4: #5bc5eb;

// светлая тень
$light-shadow: 0 2px 4px #00000040;

// темная тень
$dark-shadow: 3px 3px 6px 4px #888888;

// тень - подсветка
$lights-shadow: 0 0 10px 5px #dddddd;

// тень снизу
$bottom-shadow: 0 5px 5px -5px #00000080;

// тень сверху
$top-shadow: 0 -5px 5px -5px #00000080;

// эффект бумаги
$paper-shadow: 0 1px 4px #0000004d, -23px 0 20px -23px #00000099, 23px 0 20px -23px #00000099,
  inset 0 0 40px #0000001a;