// цветовая палитра
$text-color: #0d3d74;
$accent-color: #4c00ff;
$link-color: #3b70e4;

$background-primary-color: #fff8dc;
$background-block-color: #b0c4de;

// точки перелома
$size-min: 320px;
$size-mob: 480px;
$size-tab: 768px;
$size-desk: 1600 px;

// стандартные отступы
$gap: 30px;

// минимальный паддинг
$min-padding: 15px;
