// цветовая палитра
$text-color: #0d3d74;
$accent-color: #ffa600;
$link-color: #3b70e4;
$link-nav-color: #0328ff;
$link-nav-color-muted: rgba(3, 40, 255, 0.6);

$background-primary-color: #fff8dc;
$background-block-color: #b0c4de;

// точки перелома
$size-min: 320px;
$size-mob: 480px;
$size-tab: 768px;
$size-desk: 1600 px;

// стандартные отступы
$gap: 30px;

// минимальный паддинг
$min-padding: 15px;

// переходы
$transition-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//легкая тень
$light-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);

// тень - подсветка
$lights-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);

// тень снизу
$bottom-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);

// тень сверху
$top-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.5);
