// цветовая палитра
$text-color: #071830;
$text-color-muted: rgba(7, 24, 48, 0.7);
$accent-color: #079dd9;
$link-color: rgb(48, 24, 230);
$link-nav-color: rgb(24, 48, 200);
$link-nav-color-muted: rgba(48, 24, 230, 0.8);

$background-primary-color: #fff8dc;
$backgouund-secondary-color: #b0c4de;
$background-block-color: #b0c4de;
$background-block-color-dark: #8b9cb1;
$background-accent-color: #f2f2f2;

// точки перелома
$size-min: 320px;
$size-mob: 480px;
$size-tab: 768px;
$size-desk: 1600 px;

// стандартные отступы
$gap: 30px;

// минимальный паддинг
$min-padding: 15px;

// переходы
$transition-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

// светлая тень
$light-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);

// темная тень
$dark-shadow: 3px 3px 6px 4px #888888;

// тень - подсветка
$lights-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);

// тень снизу
$bottom-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);

// тень сверху
$top-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.5);

$paper-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), -23px 0 20px -23px rgba(0, 0, 0, 0.6),
  23px 0 20px -23px rgba(0, 0, 0, 0.6), inset 0 0 40px rgba(0, 0, 0, 0.1);
